
<% if turbo_frame_request? %>
  <turbo-frame id="wrap-page">
<% end %>

<% content_for :title, "locals" %>


<div class=" pb-0 mb-4  flex justify-between">
 <h2 class="title-page"> Locais de Atendimento</h2>

  <div class="pb-0 mb-4">
    <%= link_to new_local_de_atendimento_path, class: "btn-plus" do %>
    <%= heroicon("plus", options: { class: "w-5 h-5 mr-2" }, variant: :solid) %>
      Novo Local de Atendimento
    <% end %>
  </div>

</div>

<div class="bg-white p-4 rounded-sm">
  <div data-controller="locais--grid" class="my-8"></div>
</div>


<% if turbo_frame_request? %>
  </turbo-frame>
<% end %>

