
<% if turbo_frame_request? %>
  <turbo-frame id="wrap-page">
<% end %>

<% content_for :title, "Pacientes" %>


<div class=" pb-0 mb-4 flex justify-between">
<h2 class="title-page"> Pacientes</h2>

  <div class="pb-0 mb-4">
    <%= link_to new_paciente_path, class: "btn-plus" do %>
    <%= heroicon("plus", options: { class: "w-5 h-5 mr-2" }, variant: :solid) %>
      Novo Paciente
    <% end %>
  </div>
</div>

<div class="bg-white p-4 rounded-sm">
  <div data-controller="pacientes--grid" class="my-8"></div>
</div>


<% if turbo_frame_request? %>
  </turbo-frame>
<% end %>






