<% content_for :title, "New paciente" %>

<div class="w-full">
  <h1 class="text-gray-700 hover:text-gray-900 text-black mb-4 text-2xl font-medium">Novo Paciente</h1>
  <%= render "form", paciente: @paciente %>
</div>
